<div id="<%= dom_id sock %>">
  <p>
    <strong>Size:</strong>
    <%= sock.size %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= sock.brand %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= sock.colour %>
  </p>

  <p>
    <strong>Quality:</strong>
    <%= sock.quality %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= sock.price %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= sock.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sock.description %>
  </p>

  <p>
    <strong>Foot:</strong>
    <%= sock.foot %>
  </p>

</div>
