<main>
  <section id="banner" class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Sock Exchange</h1>
        <p class="lead text-muted">Your one stop lonely sock shop<br> Have a single sock taking up space in your drawer?<br>List it now on <strong>Sock Exchange</strong></p>
          <%= link_to "List a Sock", (logged_in? ? new_sock_path : signup_path), class: "btn btn-primary my-2" %>
          <% if !logged_in? %>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary my-2" %>
          <% end %>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @socks.each do |sock| %>
          <% if !sock.sold %>
            <div class="col">
              <div class="card shadow-sm">
                <%# <%= image_tag sock.image, class: "bd-placeholder-img card-img-top", width: "100%", height: "225" %>
                <div class="card-body">
                  <p class="card-text"><%=sock.title%></p>
                  <p class="card-text">$<%=sock.price%></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to "View Sock", sock, class: "btn btn-sm btn-outline-secondary" %>
                    </div>
                    <small class="text-muted">listed by <%= sock.user.username if sock.user %></small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>  
</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Sock Exchange&copy;</p>
  </div>
</footer>