<p style="color: green"><%= notice %></p>

<%= render @sock %>

<div>
  <%= link_to "Edit this sock", edit_sock_path(@sock) %> |
  <%= link_to "Back to socks", socks_path %>

  <%= button_to "Destroy this sock", @sock, method: :delete %>
</div>
