<div class="container">
    <div class="form align-middle">
        <h1 class="text-center">Order no: <%=@order.id%></h1>

        <h3 class="text-center"><%=@sock.title%></h3>
        <div class="card col-sm-6 m-auto">
            <%= image_tag @sock.image, class: "bd-placeholder-img card-img-top", width: "100%", height: "225" %>
            <div class="card-body">
                <h5 class="card-title">Title: <%=@sock.title%></h5>
                <p class="card-text">Description: <%=@sock.description%></p>
                <p class="card-text">Brand: <%=@sock.brand%></p>
                <p class="card-text">Colour: <%=@sock.colour%></p>
                <p class="card-text">Quality: <%=@sock.quality%></p>
                <p class="card-text">Foot: <%=@sock.foot%></p>
                <p class="card-text">Size: <%=@sock.size%></p>
                <p class="card-text">Price: <%=@sock.price%></p>
                <p class="card-text"><small class="text-muted">Last updated <%=@sock.updated_at.strftime("%d-%m-%Y")%></small></p>
                <p class="card-text"><small class="text-muted">listed by <%= @sock.user.username %></small></p>
                <p class="card-text"><small class="text-muted">purchased on <%= @order.created_at.strftime("%d-%m-%Y") %></small></p>
            </div>
        </div>
    </div>
</div> 